{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}
{% block headermenu %}
<div class="header-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="responsive categorymenu">
                    {% for p in cat %}
                    <div class="cat-wrapper">
                        <div class="text-center">
                            <a href="{% url 'store:category' id=p.id %}"><img src="{{ p.icon.url }}"/></a>
                            <a href="{% url 'store:category' id=p.id %}">{{ p.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12">
        <div style="margin:0 auto;">
            <ul id="demo3">
                {% for sld in slide %}
                <li><img height="100" src="{{ sld.slideimg.url }}"/></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Trending Books Section -->
    <div class="col-sm-12">
        <div class="titleheader">
            <h3 class="h2header text-center">Trending Books</h3>
        </div>
        <div class="regulara sliderzx">
            {% for item in trending_books %}
            <div class="book-wrapper text-center">
                <div class="coverpage">
                    <a href="{% url 'store:book' id=item.id %}">
                    <img src="{{ item.coverpage.url }}" alt="{{ item.name }}"/></a>
                </div>
                <a href="{% url 'store:book' id=item.id %}">{{ item.name|text_short }}</a>
                <a href="{% url 'store:writer' id=item.writer.id %}">{{ item.writer }}</a>
                <div class="rating">
                    {{ item.totalrating|averagerating:item.totalreview }}
                    <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
                </div>
                <p> {{ item.price }} AED.</p>
                <button class="btn btn-warning" id="addTocart" data-book-id="{{ item.id }}">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </button>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Popular Books Section -->
    <div class="col-sm-12">
        <div class="titleheader">
            <h3 class="h2header text-center">Popular Books</h3>
        </div>
        <div class="regulara sliderzx">
            {% for item in popular_books %}
            <div class="book-wrapper text-center">
                <div class="coverpage">
                    <a href="{% url 'store:book' id=item.id %}">
                    <img src="{{ item.coverpage.url }}" alt="{{ item.name }}"/></a>
                </div>
                <a href="{% url 'store:book' id=item.id %}">{{ item.name|text_short }}</a>
                <a href="{% url 'store:writer' id=item.writer.id %}">{{ item.writer }}</a>
                <div class="rating">
                    {{ item.totalrating|averagerating:item.totalreview }}
                    <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
                </div>
                <p> {{ item.price }} AED.</p>
                <button class="btn btn-warning" id="addTocart" data-book-id="{{ item.id }}">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </button>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Upcoming Books Section -->
    <div class="col-sm-12">
        <div class="titleheader">
            <h3 class="h2header text-center">Upcoming Books</h3>
        </div>
        <div class="regulara sliderzx">
            {% for item in upcoming_books %}
            <div class="book-wrapper text-center">
                <div class="coverpage">
                    <a href="{% url 'store:book' id=item.id %}">
                    <img src="{{ item.coverpage.url }}" alt="{{ item.name }}"/></a>
                </div>
                <a href="{% url 'store:book' id=item.id %}">{{ item.name|text_short }}</a>
                <a href="{% url 'store:writer' id=item.writer.id %}">{{ item.writer }}</a>
                <div class="rating">
                    {{ item.totalrating|averagerating:item.totalreview }}
                    <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
                </div>
                <p> {{ item.price }} AED.</p>
                <button class="btn btn-warning" id="addTocart" data-book-id="{{ item.id }}">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
